body {
    --bgc: white;
    --c: black;
    background-color: var(bgc);
    color: var(c);
    transition: background-color 0.15s, color 0.15s;
}

header {

}

nav {

}

.appearance-mode-button {
    cursor: pointer;
}

aside {

}

